[Unit]
Description=UnSmart Redirect Service
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/pi/unsmart
ExecStart=/bin/sh redirect_port_80.sh

[Install]
WantedBy=multi-user.target
